html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  text-align: center;
  font-family: Bevan, cursive;
  color: #fff;
  margin: .3em;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  background-color: #713837;
  padding: .75em;
  border-radius: .5em;
  color: #fff;
  font-family: sans-serif;
}

header {
  background-color: #79756f;
  border-style: solid;
  border-width: 4px;
  border-color: #595652;
  border-left: none;
  border-right: none;
}

body {
  background-color: #dbd6cf;
  margin: 0;
}

a:hover {
  background-color: #f33;
}

nav li {
  display: inline-block;
  margin: .3em;
}

nav {
  text-align: center;
  margin: .3em;
}
